form label{
  display: inline-block;
}


input[type="text"], input[type="search"], select{
  display:block;
  background-color: var(--blanc);
  border: 1px solid var(--bordure-couleur);
  outline: 0;
  padding: 0.8em 1em;
  border-radius: var(--bordure-rayon);
  font-family: var(--font-famille-nav);
}

form input:focus {
  box-shadow: 0 0px 2px var(--focus);
}

input[type="search"] {
  background: var(--blanc)  url(../img/icone-svg/search.svg) no-repeat 5px center;
  padding-left:30px;
}

input::placeholder, select option:first-child {
  color: #bbb;
}

form button{
  display: block;
  border:none;
  margin:20px 0;
}


/*radio et checkbox  ref: https://iamkate.com/code/checkboxes-and-radio-buttons/ */

input[type="checkbox"], input[type="radio"]{
  -webkit-appearance : none;
  appearance         : none;
  width              : 20px;
  height             : 20px;
  margin             : calc(0.75em - 11px) 0.25rem 0 0;
  vertical-align     : middle;
  border             : var(--bordure-graisse) solid var(--bordure-couleur);
  border-radius      : var(--bordure-rayon);
  background         : #fff no-repeat center center;
}

input[type="radio"]{
  border-radius      : 50%; 
}



input[type="radio"]{
  border-radius : 50%;
}

input[type="checkbox"]:active, input[type="radio"]:active, input[type="checkbox"]:focus, input[type="radio"]:focus{
  border-color : var(--focus);
  outline      : none;
}

input[type="checkbox"]:disabled, input[type="radio"]:disabled{
  background : var(--blanc);
}

input[type="checkbox"]:checked{
 /* background-image : url(./assets/img/icone-svg/checkbox.svg);*/
  background-image: url(../img/icone-svg/checkbox.svg);

}

input[type="radio"]:checked{
  background-image : url(../img/icone-svg/radio.svg);
}