body{
    padding: var(--esp-xpetit);
    background-color:var(--blanc) ;
}

.container{
    max-width: 300px;
    margin:0 auto;
    padding: var(--esp-xpetit);
    overflow: hidden;

    
}

main section:not(.zone-valeur){
    margin:var(--esp-petit) 0;
}

main section:not(.zone-valeur) h2{
    text-transform: uppercase;
    text-align: center;
    color:#666;
    padding-bottom:10px;
    margin-bottom:var(--esp-xlarge);
    border-bottom: 1px solid #666;
}


/*mediaqueries -­ mobile first*/

/* Petite tablette */
@media screen and (min-width:481px)  {   
    .container {
        max-width: 440px;
        margin:0 auto;
    }
}

/* Portrait tablettess, portrait iPad, paysage 800x480 cellulaire */
@media screen and (min-width:641px) {
    .container {
        max-width: 640px;
        margin:0 auto;
    }
    main section:not(.zone-valeur){
        margin:var(--esp-large) 0;
    }

    main section.zone-enchere{
        margin-top:0;
    }
    
}

/* Tablettes, paysage iPad, lo-res laptops et desktops */
@media screen and (min-width:961px) {
    .container {
        max-width: 920px;
        margin:0 auto;
    }
    main section:not(.zone-valeur) {
        margin:var(--esp-xlarge) 0;
    }

    main section.zone-enchere{
        margin:0;
    }
   
}

/* Grande tablette paysage, laptops, and desktops */
@media screen and (min-width:1025px) {
    .container {
        max-width: 980px;
        margin:0 auto;
    }
   
    
}

/* Grande resolution laptop - desktops */ 
@media screen and (min-width:1281px) {
    .container {
        max-width: 1240px;
        margin:0 auto;
    }
   
}

/* Écran grande resolution*/
@media screen and (min-width: 1540px) {
    .container {
        max-width: 1500px;
        margin:0 auto;
    }
    
}


/* Écran grande resolution*/
@media screen and (min-width: 1920px) {
    .container {
        max-width: 1890px;
        margin:0 auto;
    }
}

/* Ecrn 4K ultra grande resolution*/
@media screen and (min-width: 3840px) {
    .container {
        max-width: 3810px;
        margin:0 auto;
    }
}